$font-name: 'Open Sans', sans-serif;
/*@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-display: swap;
  src: url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap") format("woff");
}*/
