/*
Main colors
*/
$gradient-blue: linear-gradient(180deg, #3F3CF3 0%, rgba(255, 255, 255, 0) 100%), #1F90C0;
$white: #FFFFFF;

/*
Fonts
*/
$document_font: 'Open Sans', sans-serif;

/*
Breakpoints
*/
$median: 552;
$lesstablet: 542;
$small: 500px;

